@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

main {
  background-color: black;
  background-image: url("/images/stardust.png");
}

@media screen and (min-width: 1024px) {
  * {
    cursor: none;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 7.5px;
  background-color: white;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #141414;
}

/* Custom Arrow */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  animation: rotateAni 1s ease-in-out infinite;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}

@keyframes rotateAni {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}
